@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

/*Common Tailwind CSS Start Here*/

.Container {
  @apply w-full sm:w-[540px] md:w-[720px] lg:w-[960px] xl:w-[1140px] 2xl:w-[1320px]  px-2 md:px-3 lg:px-4 xl:px-5 mx-auto;
}

.primary-button {
  @apply relative bg-SecondaryColor-0 text-white inline-block font-Yantramanav px-5 py-3 font-medium before:absolute before:top-2/4 z-[1] before:w-[20px] before:h-[20px] before:bg-PrimaryColor-0 before:rounded-[50%] before:-left-5 before:-translate-x-1/2 before:-z-[1] before:-translate-y-1/2 after:absolute after:top-2/4 after:-right-[20px] after:translate-x-1/2 after:-translate-y-1/2 after:w-[20px] after:h-[20px] after:bg-PrimaryColor-0 before:transition-all before:duration-500 after:transition-all after:-z-[1] after:duration-500 after:rounded-[50%] hover:before:animate-[crissCrossLeft_0.8s_both] hover:before:[animation-direction:alternate] hover:after:animate-[crissCrossRight.8s_both] hover:after:[animation-direction:alternate] overflow-hidden transition-all duration-300 sm:px-9 sm:py-4;
}

.primary-button2 {
  @apply relative bg-PrimaryColor-0 text-white inline-block font-Yantramanav px-5 py-3 font-medium before:absolute before:top-2/4 z-[1] before:w-[20px] before:h-[20px] before:bg-SecondaryColor-0 before:rounded-[50%] before:-left-5 before:-translate-x-1/2 before:-z-[1] before:-translate-y-1/2 after:absolute after:top-2/4 after:-right-[20px] after:translate-x-1/2 after:-translate-y-1/2 after:w-[20px] after:h-[20px] after:bg-SecondaryColor-0 before:transition-all before:duration-500 after:transition-all after:-z-[1] after:duration-500 after:rounded-[50%] hover:before:animate-[crissCrossLeft_0.8s_both] hover:before:[animation-direction:alternate] hover:after:animate-[crissCrossRight.8s_both] hover:after:[animation-direction:alternate] overflow-hidden transition-all duration-300 sm:px-9 sm:py-4;
}

.section-sub-title {
  @apply text-[18px] text-SecondaryColor-0 font-medium font-Yantramanav pl-11 relative inline-block before:absolute before:top-3 before:left-0 before:w-9 before:h-[2px] before:bg-SecondaryColor-0;
}

.feature-box {
  @apply py-4 px-4 sm:py-6 sm:px-6 lg:py-6 lg:px-4 2xl:px-10 2xl:py-9 bg-white before:absolute before:border-t-4 before:border-l-4 border-SecondaryColor-0 hover:before:border-b-[6px] before:border-r-[10px] before:bottom-0 before:right-0 before:border-SecondaryColor-0 before:w-full before:h-0 before:opacity-0 hover:before:opacity-100 hover:before:h-full before:transition-all before:duration-500 relative border-b-4 transition-all duration-500 after:absolute after:w-[34px] after:h-[34px] after:bg-[url(/assets/images/feature/feature-shape.png)] after:-right-[40px] hover:after:right-[10px] after:-bottom-[40px] hover:after:bottom-1 after:transition-all after:duration-700 overflow-hidden hover:bg-PrimaryColor-0 z-10 before:-z-10 after:-z-10;
}

/* Custom CSS Start Here*/

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgba(255, 255, 255, 0.15);
  background-color: #00000077;
  backdrop-filter: blur(5px);
  animation: 500ms ease-in-out 0s normal none 1 running headerSlideDown;
}

.banner-shape {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 94, 21, 1);
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgb(185 28 28 / 25%) 50%,
    #a31414 50%,
    rgba(255, 255, 255, 0.25) 70%
  );
  mask-image: linear-gradient(
    -75deg,
    rgb(185 28 28 / 25%) 50%,
    #a31414 50%,
    rgba(255, 255, 255, 0.25) 70%
  );
  -webkit-mask-size: 200%;
  mask-size: 200%;
  animation: shine 3s infinite;
}

.project-section .swiper-slide.swiper-slide-active {
  transform: scale(1.1);
  transition: 0.5s;
}

.project-inner .filter-item:hover .project-box,
.swiper-slide.swiper-slide-active .project-box {
  opacity: 1;
  bottom: 40px;
}

.project-inner .filter-item {
  margin: 14px;
}

.project-inner .py-5 {
  padding: 0;
}

@media (max-width: 1199px) {
  .project-inner .w-11.h-11 {
    display: none;
  }
}

.pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ffffff !important;
  border-radius: unset;
  margin: 0 14px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.swiper-pagination-bullet-active {
  background: #ff5e14 !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 38% !important;
  bottom: 7% !important;
}

@media (min-width: 768px) and (max-width: 991px) {
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: -6% !important;
  }
}

/* Scroll To Top Button */

.top-to-btm {
  position: relative;
}

.icon-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}

.icon-style {
  background-color: #ff5e14;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-style:hover {
  animation: none;
  background: #fff;
  color: #ff5e14;
  border: 2px solid #ff5e14;
}

@keyframes headerSlideDown {
  0% {
    margin-top: -150px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

@keyframes playbtn {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(254, 254, 254, 0.3),
      0 0 0 10px rgba(254, 254, 254, 0.3), 0 0 0 20px rgba(254, 254, 254, 0.3);
    box-shadow: 0 0 0 0 rgba(254, 254, 254, 0.3),
      0 0 0 10px rgba(254, 254, 254, 0.3), 0 0 0 20px rgba(254, 254, 254, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(254, 254, 254, 0.3),
      0 0 0 20px rgba(254, 254, 254, 0.3), 0 0 0 30px rgba(254, 254, 254, 0);
    box-shadow: 0 0 0 10px rgba(254, 254, 254, 0.3),
      0 0 0 20px rgba(254, 254, 254, 0.3), 0 0 0 30px rgba(254, 254, 254, 0);
  }
}